.loginform{
    display : inline-flex
}
.테두리{
    width: 1005px;
    height: 830px;
    border: 1px solid;
    margin-left:59px;
}
.idinput{
    margin-left: 104px;
    margin-top: 92px;
    width: 402px;
    height: 72px;
}
.passwardinput{
    margin-left: 104px;
    margin-top: 46px;
    width: 402px;
    height: 72px;
}
.loginbutton{
    width: 232px;
    height: 198px;
    margin-top: 90px;
    margin-left: 65px;
    background-color: #86C7F5;
}
.listcontainer{
    display: flex;
    flex-wrap: wrap;
}

.buytitle{
    border: 1px solid;
    width: 1178px;
    height: 50px;
}
.buyword{
    margin-left: 30px;
    margin-top: 10px;
    font-size:20px;
}